@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box; /* 🔥 must have */
}
* {
  outline: 1px solid red;
}
body {
  outline: 3px solid blue;
}
html,body, #root {
  max-width: 100%;
  font-family: 'Gilroy', 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

svg {
  display: block;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --body-background-color: rgba(20, 20, 20, 1);
  --container-background-color: rgba(31, 31, 31, 1);
  --select-background-color: rgba(38, 38, 38, 1);
  --border-color: rgba(249, 249, 249, 0.2);
  --focus-word-color: rgba(227, 227, 227, 0.5);
  --main-text-color: rgba(249, 249, 249, 1);
  --pia-chart-color: rgba(249, 249, 249, 0.8);
  --icon-diary-color: rgba(104, 104, 104, 0.4);
  --grey-text-color: rgba(104, 104, 104, 1);
  --blue-line-color: rgba(79, 146, 247, 1);
  --green-color: rgba(48, 185, 77, 1);
  --red-error-color: rgba(233, 5, 22, 1);
  --red-delete-color: rgba(232, 80, 80, 1);
  --red-boder-color: rgba(232, 80, 80, 0.2);
  --red-bground-color: rgba(232, 80, 80, 0.1);
  --modal-background-color: rgba(104, 104, 104, 0.2);
}
